@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-brand-dark: #242424;
}

/* Estilos globales para todo el proyecto */
body {
  font-family: var(--font-sans);
  color: var(--color-brand-dark);
  font-size: 16px; /* O usa utilidades de Tailwind abajo */
}

/* También puedes usar @apply si prefieres mantener la sintaxis clásica */
h1 {
  @apply text-3xl font-bold tracking-tight;
}